.table-container {
  max-height: 300px;
  overflow: auto;
  width: 100%;
  &::-webkit-scrollbar {
    width: 0;
  }
  table {
    background: #0000008c;
    width: inherit;
    border-radius: 10px;
    color: #ffff;
    th,
    td {
      padding: 7.5px 0;
      text-align: center;
    }
    th {
      color: #feed9e;
      font-size: 14px;
    }
    td {
      border-top: 1px solid #016572;
      .action-button {
        color: #fff;
        background: #00515d;
        border: 0;
        font-size: 15px;
        padding: 5px 15px;
        border-radius: 5px;
        font-weight: bold;
      }
    }
  }
}

.explore-button {
  font-family: nanami-bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 20px;
  border: 0;
  border-radius: 5px;
  color: white;
  &.modern {
    background: transparent linear-gradient(108deg, #004eff 0, #0ff 100%) 0 0
      no-repeat padding-box;
  }
  &.wild {
    background: transparent linear-gradient(108deg, #4200d8 0, #d752ff 100%) 0 0
      no-repeat padding-box;
  }
}

.explore-button.close-expand {
  background: 0;
  border: 2px solid;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 300px;

  .card-header {
    color: #fff;
  }

  .card-stat {
    padding: 0 10px;
    margin: 5px 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    &.modern {
      color: #fff;
      background: #006896;
      border: 2px solid #a9c3ff;
    }
    &.wild {
      color: #fff;
      background: #ac4ffc5c;
      border: 2px solid #d7a9ff;
    }
  }

  .card-header {
    font-family: nanami-bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  .card-img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .card-buttons {
      display: flex;
      transform: scale(1.05);
    }

    .card-img {
      transform: scale(1.05);
    }
  }

  .card-buttons {
    display: none;
    flex-direction: column;
    text-align: center;
    text-align: center;
    flex-shrink: 0;
    position: absolute;
    background: #000000b3;
    height: 100%;
    padding: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    p {
      font-size: 14px;
      font-weight: bold;
    }
    button {
      cursor: pointer;
      border: 0;
      border-radius: 5px;
      box-shadow: none;
      margin-top: 0;
      padding: 2.5px 10px;
      white-space: nowrap;
      font-family: nanami-bold;
      font-size: 17px;
      color: white;
      text-transform: uppercase;
      margin: 5px;
      &:hover {
        opacity: 0.7;
      }
      &.modern {
        background-color: #006896;
      }
      &.wild {
        background-color: #794d90;
      }
    }
  }
}
