.deck-panel {
  border-radius: 15px;
  transition: max-height 0.3s;
  padding: 15px 20px;
  max-height: 80px;
  margin-top: 10px;
  width: calc(100% - 20px);
  background: #130f0c;

  .header {
    color: white;
    font-family: nanami-bold;
    font-size: 22px;
    text-transform: uppercase;
  }

  &.expanded {
    max-height: initial;
    .panel-content {
      display: block;
    }
  }

  .panel-content {
    display: none;
    margin-top: 10px;
    p {
      font-family: OpenSans;
      font-size: 14px;
      margin: 0;
      line-height: 20px;
      text-transform: none;
    }
  }
}

.deck-builder-page2__cards {
  margin-top: 115px;
  &.expanded {
    margin-top: 425px;
  }
}

.deck-panel-wrapper {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: uppercase;
  position: fixed;
  margin-top: 240px;
  padding-left: 340px;
  width: calc(100% - 25px);
  z-index: 150;
}

.recommended-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7%, 1fr));
  grid-gap: 15px;
  max-width: 100%;
}
