.deck-panel {
  border-radius: 15px;
  transition: max-height 0.3s;
  padding: 15px 20px;
  max-height: 80px;
  margin-top: 10px;
  width: calc(100% - 20px);
  background: #000;
  z-index: 1000;

  .recommended-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 3fr));
    grid-auto-rows: auto;
    grid-gap: 15px;
    max-width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Set the width of the scroll bar */
    scrollbar-color: transparent transparent; /* Set the color of the scroll bar */
    max-height: calc(100vh - 420px);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
  }

  @media screen and (max-width: 1300px) {
    .recommended-cards {
      grid-template-columns: repeat(auto-fit, minmax(25%, 3fr));
    }
  }

  .header {
    color: white;
    font-family: nanami-bold;
    font-size: 22px;
    text-transform: uppercase;
  }

  &.expanded {
    max-height: initial;
    .panel-content {
      display: block;
    }
  }

  .panel-content {
    display: none;
    margin-top: 10px;
    p {
      font-family: OpenSans;
      color: white;
      font-size: 14px;
      margin: 0;
      line-height: 20px;
      text-transform: none;
    }
  }
}

.deck-builder-page2__cards {
  margin-top: 115px;
}

.deck-builder-page2__filters {
  margin-top: 200px;
  z-index: 1;
}

.deck-panel-wrapper {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: uppercase;
  position: fixed;
  margin-top: 240px;
  padding-left: 340px;
  width: calc(100% - 25px);
  z-index: 150;
}
