.custom-panel {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  transition: max-height 0.3s;
  padding: 25px;
  max-height: 100px;
  margin-top: 25px;

  .header {
    color: white;
    font-family: nanami-bold;
    font-size: 22px;
    text-transform: uppercase;
  }

  &.expanded {
    max-height: initial;
    .panel-content {
      display: block;
    }
  }

  .panel-content {
    display: none;
    margin-top: 10px;
    p {
      font-family: OpenSans;
      color: white;
      font-size: 14px;
      margin: 0;
      line-height: 20px;
    }
  }

  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16%, 1fr));
    grid-gap: 16px;
    max-width: 100%;
  }
}

.content-header {
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}
