.card-list-container .header .buttons .combine-sp.enabled:hover {
    background-image: url(https://d36mxiodymuqjm.cloudfront.net/website/ui_elements/card_details/icon_dec.svg);
}

.card-list-container .header .buttons .combine-sp {
    background-image: url(https://d36mxiodymuqjm.cloudfront.net/website/ui_elements/card_details/icon_dec_disabled.svg);
}

p {
    color: white;
}

.sm-well {
    max-width: 500px;
    font-weight: bold;
    color: white;
    font-size: 19px;
    margin: auto;
    margin-top: 20px;
}

.buy-info {
    font-size: 14px;
}

.modal {
    display: block;
    padding-right: 10px;
    background: #000000c2;
}
