.table-container {
  max-height: 300px;
  overflow: auto;
  width: 100%;
  &::-webkit-scrollbar {
    width: 0;
  }
  table {
    background: #0000008c;
    width: inherit;
    border-radius: 10px;
    color: #ffff;
    th,
    td {
      padding: 7.5px 0;
      text-align: center;
    }
    th {
      color: #feed9e;
      font-size: 14px;
    }
    td {
      border-top: 1px solid #016572;
      .action-button {
        color: #fff;
        background: #00515d;
        border: 0;
        font-size: 15px;
        padding: 5px 15px;
        border-radius: 5px;
        font-weight: bold;
      }
    }
  }
}

.explore-button {
  font-family: nanami-bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 20px;
  border: 0;
  border-radius: 5px;
  color: white;
  &.modern {
    background: transparent linear-gradient(108deg, #004eff 0, #0ff 100%) 0 0
      no-repeat padding-box;
  }
  &.wild {
    background: transparent linear-gradient(108deg, #4200d8 0, #d752ff 100%) 0 0
      no-repeat padding-box;
  }
}

.explore-button.close-expand {
  background: 0;
  border: 2px solid;
}
